In [1]:
print("Shahbaz alam")

Shahbaz alam

In [5]:
import numpy as np

In [7]:
print(type(10/5))

<class 'float'>

In [8]:
print(4/2)

2.0

In [13]:
print(type(10//2))
print(type(10/2))

<class 'int'>
<class 'float'>

In [14]:
print(bin(5))

0b101

In [17]:
print(int('0b101',2))
# print(( '0b101',8))

5

In [22]:
id = 100.1
print(id)

100.1

In [23]:
print(type(id))

<class 'float'>

In [30]:
 a = 10.11111
print(type(a))

<class 'float'>

In [35]:
useR_Name = 'shahbassszipu'
print(useR_Name)

shahbassszipu

In [36]:
print(print)

<built-in function print>

In [37]:
print(print(5))

5
None

In [38]:
print(print(type(print)))

<class 'builtin_function_or_method'>
None

In [39]:
print(PI)

NameError: name 'PI' is not defined

In [41]:
import math
print(PI)

NameError: name 'PI' is not defined

In [42]:
a,b,c = 10,20,30
print(a)
print(c)

10
30

In [43]:
<HTML>
<h1> Argumented assigment operator<h1/>

SyntaxError: invalid syntax (1541671611.py, line 1)

# Argumented assigment operator

In [44]:
id = 10
id = id + 5 
print(id)

15

In [45]:
id+= 15
print(id)

30

# String

In [46]:
print('Shahbaz')

Shahbaz

In [47]:
print(type("shahbaz"))

<class 'str'>

In [48]:
print("shah"+"baaz")

shahbaaz

In [58]:
print('shah'+ "baz")

shah   baz

# String => Long_string

In [50]:
name = '''
Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:
'''
print(name)

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [51]:
name1 = 'Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:'
    
print(name1)

SyntaxError: unterminated string literal (detected at line 1) (3189757609.py, line 1)

In [52]:
name = '''
Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:
'''
print(name)

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [56]:
f_name = "Shahbaz"
l_name = " Alllam"
full_name = f_name+         l_name
print(full_name)

Shahbaz Alllam

In [59]:
print('shahb'+ 5)

TypeError: can only concatenate str (not "int") to str

In [60]:
print("shahbaz"+' 5')

shahbaz 5

# Int to String

In [61]:
a = str(100)
print(a)

100

In [62]:
print(type(a))

<class 'str'>

# Escape Sequence

In [63]:
value = "shah'baz"
print(value)

shah'baz

In [64]:
value1 = 'shah"alam'
print(value1)

shah"alam

In [65]:
value2 = 'shah' baz'
print(value2)

SyntaxError: unterminated string literal (detected at line 1) (591190021.py, line 1)

In [66]:
name = "it's shahbaz alam"
print(name)

it's shahbaz alam

In [67]:
value = "it's" kind of sunny""
print(value)

SyntaxError: invalid syntax (3100650731.py, line 1)

##  after \ backward slace python consider it is symbol

In [70]:
value = "it\'s\"kind of sunny\" "  # after \ backward slace python consider it is symbol
print(value)

it's"kind of sunny"

##  \n for New Line

In [72]:
print("shahbaz\n alam")

shahbaz
 alam

##  \t  for Tab

In [74]:
print("\tshahbaz alam")

	shahbaz alam

## Formatted String

In [80]:
name = "Shahbaz"
age = 22
print('Hi '+ name +', You are eligible for vote age is '+str(age))

Hi Shahbaz, You are eligible for vote age is 22

##  using { f } for farmatting String

In [90]:
name = "Shahbaz"
age = 22
print(f"Hi {name} Your age is{age}")

Hi Shahbaz Your age is22

## using .farmate for formatting String

In [93]:
name = "Shahbaz"
age = 22
print("Hi {} Your age is{}".format("shahabz",'age'))

Hi shahabz Your age isage

In [95]:
name = "Shahbaz"
age = 22
print("Hi {0} Your age is {1}".format(name,age))

Hi Shahbaz Your age is 22

In [97]:
name = "Shahbaz"
age = 22
print("Hi {use_name} Your age is {curr_age}".format(use_name = 'Arbaz',curr_age = 20))

Hi Arbaz Your age is 20

## String Index

In [133]:
name = "Shahbaz Alam"
     #  0123456789
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
print(name[6])
print(name[7])
print(name[8])
print(name[9])
print(name[10])
print(name[11])
# print(name[12])

S
h
a
h
b
a
z

A
l
a
m

### Access value within in range in String [ start ,  end -1]

In [107]:
print(name[0:3])# 0 to 3 print zero index to 2 index

Sha

### Access value within in range in String [ start, end, jump ] . Default jump value is 1

In [134]:

print(name[0:11])# ? Remember[0 to n-1] rule

Shahbaz Ala

In [135]:
 print(name[0:12:2]) # Shahabz alam { S[h]a[h]b[a]z[]A[l]a[m]}  = SabzAa => we skip [] value

SabzAa

In [144]:
print(name[:5:3])
print(name[::])

Sh
Shahbaz Alam

### Negative index [ -1 ] is last index of String

In [148]:
print(name[-1])
print(name[-2])
print(name[-12])

m
a
S

### Reverse String by : : -1

In [154]:
print(name[::-1])

malA zabhahS

In [159]:

print(name[-1  :  -13  :-1])
        #  start  end  jump

malA zabhahS

In [160]:
print(name[-1  :  -13  :-2])
          Shahbaz alam

ml ahh

### Here Their is no need to go in negative index and skip and work

In [162]:
print(name[-1  :  -13  :-2])

ml ahh

## Built Function in String


"""Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Converts the elements of an iterable into a string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
"""

### Capitalize String

In [167]:
name = "hi my name is Shahbaz alam from Bvcoe"
print(name.capitalize())

Hi my name is shahbaz alam from bvcoe

### lover the String

In [170]:
name = "Hi my name is Shahbaz alam from Bvcoe"
print(name.lower())

hi my name is shahbaz alam from bvcoe

### Find Function in String [ it gives the index of string ]

In [175]:
name = "Hi my name is Shahbaz alam from Bvcoe"
                    # S at 14 index
      
print(name.find('Shahbaz'))

14

In [176]:
name = "Hi my name is Shahbaz alam from Bvcoe"
                    # S at 14 index
      
print(name.index('Shahbaz'))

14

# Difference b/w find and index in String

In [177]:
text = "Hello, World!"

# Using index()
index_result = text.index("o")
# index_result is 4

# Using find()
find_result = text.find("o")
# find_result is 4

# If the substring is not found:
# Using index()
# Raises ValueError: substring not found
# index_result = text.index("z")

# Using find()
find_result = text.find("z")
# find_result is -1

### Replace

In [179]:
name = "Hi my name is Shahbaz alam from Bvcoe"
print(name.replace('Shahbaz', 'Arbaz'))

Hi my name is Arbaz alam from Bvcoe

## String Immutable

In [180]:
print(name) # our previous String is not change

Hi my name is Shahbaz alam from Bvcoe

# Boolean

In [192]:
print(bool(0))
print(bool(1))
print(bool('True'))
print(bool('False')) ##  why True Reason in below

False
True
True
True

## Why  print(bool('False')) is gives True value

#### The expression bool('false') evaluates to True because the string 'false' itself is a non-empty string, and in Python, a non-empty string is considered "truthy." In other words, when you convert a non-empty string to a boolean using the bool() function, it will result in True.

In Python, the following values are considered "falsy" when converted to boolean:

An empty string ''
The special value None
Numeric zero values, such as 0, 0.0, and 0j (complex zero)
Empty collections, such as empty lists ([]), empty dictionaries ({}), and empty sets (set())
All other values, including non-empty strings like 'false', are considered "truthy" when converted to boolean.

So, when you do bool('false'), it evaluates to True because the string 'false' is not empty. If you want to check whether the string contains the text "false" (ignoring case), you would need to perform a string comparison or use other methods, such as:

In [191]:
text = 'shah'
if text.lower() == 'shah':
    print('It is "false"')
else:
    print('It is not "false"')

It is "false"

# Exercise Take input and print Age

In [202]:
age = int(input("Enter Your Current Age"))
print("Your Current age",age)

Enter Your Current Age21
Your Current age 21

In [216]:
curr_age = (input("Enter Your current Age "))
age = 2023 - int(curr_age)
# print(f"Your born age is {age}")
print("Your born age is {0}".format(age))

Enter Your current Age 23
Your born age is 2000

# Exercise for password checker

In [249]:
user_name = input("Enter username :")
inputPassLen = input("Enter the length of password")

password = '*'* int(inputPassLen)
len_pass = (len(password))
print("Your UserName is {0} and password is {1} and length is {2}".format(user_name,password,len_pass))

Enter username :shabaz
Enter the length of password5
Your UserName is shabaz and password is ***** and length is 5

In [252]:
user_name = input("Enter username :")
inputPassLen = input("Enter the password")
pass_length = len(inputPassLen)
secret_pass = '*'* pass_length;
print("Your UserName is {0} and password is {1} and length is {2}".format(user_name,secret_pass,pass_length))

Enter username :Shabz
Enter the password123
Your UserName is Shabz and password is *** and length is 3

#  List  => ordered

In [259]:
list1 = [0,1,3]
list2 = [2,5,'Shahabz',True]
print(list1[2])
print(list2[2])
print(list2[3])

3
Shahabz
True

### List Slice      {new list created  when slice a list}

In [268]:
cart = [
    'watch',
    'MacBook',
    'desktop',
    'bottle'
]
print(cart)
print(cart[0:4:1])
print(cart[0::2])
print(cart[1:3])

['watch', 'MacBook', 'desktop', 'bottle']
['watch', 'MacBook', 'desktop', 'bottle']
['watch', 'desktop']
['MacBook', 'desktop']

### List Mutable

In [267]:
cart = [
    'watch',
    'MacBook',
    'desktop',
    'bottle'
]

cart[0] = 'Iphone' # we mutate the list 
print(cart)

['Iphone', 'MacBook', 'desktop', 'bottle']

#### Here cart2 make copy of list bcz we use slice

In [270]:
cart = [
    'watch',
    'MacBook',
    'desktop',
    'bottle'
]

cart[0] = 'Iphone'
cart2 = cart[0:3]
cart2[0] = 'Ipad'
print(cart)
print(cart2)

['Iphone', 'MacBook', 'desktop', 'bottle']
['Ipad', 'MacBook', 'desktop']

####  But here don't make copy bcz we don't slice use here

In [271]:
cart = [
    'watch',
    'MacBook',
    'desktop',
    'bottle'
]

cart[0] = 'Iphone'
cart2 = cart
cart2[0] = 'Ipad'
print(cart)
print(cart2)

['Ipad', 'MacBook', 'desktop', 'bottle']
['Ipad', 'MacBook', 'desktop', 'bottle']

# List Method



Method	    Description

append() Adds an element at the end of the list
clear()	 Removes all the elements from the list
copy()	 Returns a copy of the list
count()	 Returns the number of elements with the specified value # cart.count("bottle")
extend() Add the elements of a list (or any iterable), to the end of the current list
index()	 Returns the index of the first element with the specified value
insert() Adds an element at the specified position
pop()	 Removes the element at the specified position
remove() Removes the first item with the specified value
reverse()Reverses the order of the list
sort()	 Sorts the list

In [311]:
cart = [
    'watch',
    'MacBook',
    'bottle',
    'desktop',
    'bottle'
]
print(cart.count("bottle")) # 2 => it return count of Search element

print(cart.index("desktop")) # 3 => 

cart.insert(3,"Pixel") # insert at 3 index 'pixel'
print(cart)

cart.remove("watch")
print(cart)

cart.append('100') # it insert at last index
print(cart)


cart.extend(['App','Jamia'])# we add a list in list in last in old list it not create new list
print(cart)

cart.reverse() # it reverse the List
print(cart)

cart.sort()# it sort the Alphabaticaly
print(cart)

cart.pop() # Remove the last element
cart.pop(1) # but we can also pop by index of element 
print(cart)


print(cart.index('Pixel', 0,6)) # ?? here we search Pixel in range 0 to 6 it return index

2
3
['watch', 'MacBook', 'bottle', 'Pixel', 'desktop', 'bottle']
['MacBook', 'bottle', 'Pixel', 'desktop', 'bottle']
['MacBook', 'bottle', 'Pixel', 'desktop', 'bottle', '100']
['MacBook', 'bottle', 'Pixel', 'desktop', 'bottle', '100', 'App', 'Jamia']
['Jamia', 'App', '100', 'bottle', 'desktop', 'Pixel', 'bottle', 'MacBook']
['100', 'App', 'Jamia', 'MacBook', 'Pixel', 'bottle', 'bottle', 'desktop']
['100', 'Jamia', 'MacBook', 'Pixel', 'bottle', 'bottle']
3

In [291]:
val = cart.insert(7,200)
print(cart)
print(val)

['MacBook', 'bottle', 'Pixel', 'desktop', 200, 200, 'bottle', 200, 200, 200, 100]
None

### Why None  After insting in cart and assign to val variable

In [ ]:
It seems like you are working with a Python list named cart,
and you are using the insert() method to add an element at 
index 7 with a value of 200. The insert() method in Python
does not return anything (it returns None by default),
which is why you see None when you print the result of the insert() method.

The modified cart list you provided contains the inserted value of 200 at index 7, 
as expected:

['MacBook', 'bottle', 'Pixel', 'desktop', 200, 200, 'bottle', 200, 200, 100]
None
So, in Python, when you use the insert() method to add an element to a list, 
it modifies the list in place and returns None. If you want to retrieve the 
modified list, you don't need to assign the result of insert() to a variable.
You can simply use the cart list itself after the insertion to access the updated values.

### Why pop()  return remove value but remove() method not return

In [ ]:
In Python, the pop() method and the remove() method are used to remove elements from a list,
but they have different behaviors, which is why they return different values (or in the case
of remove(), it does not return a value).

pop():

pop() is used to remove an element from a list based on its index.
It returns the removed element.
You need to specify the index from which you want to remove an element.
Example:

my_list = [1, 2, 3, 4, 5]
removed_element = my_list.pop(2)  # Removes the element at index 2 (3) and returns it

remove():

remove() is used to remove the first occurrence of a specified value from the list.
It does not return any value (returns None by default).
You need to specify the value you want to remove.

Example:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)  # Removes the first occurrence of the value 3 from the list
The reason for this difference in behavior is that pop() is used when you want 
to retrieve the removed item, which can be useful if you need to use it later
in your program. On the other hand, remove() is used when you want to remove 
a specific value from the list without needing to access it separately.
The choice between them depends on your specific use case and whether you 
need the removed value or not.

### Check Element Present or not in list

In [317]:
#cart = ['100', 'Jamia', 'MacBook', 'Pixel', 'bottle', 'bottle']
print('bottle' in cart)

True

### Sort not return but sorted return

In [ ]:
n summary, sort() sorts a list in place and doesn't return anything because 
it modifies the original list, while sorted() returns a new sorted iterable 
without modifying the original iterable. The choice between them depends on 
whether you want to sort in place or create a new sortedsequence.

### Range in list

In [318]:
print(list(range(101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [319]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Join in list

In [336]:
sentence = " "
sentence.join([ "name",'shab'])
print(sentence)

In [337]:
sentence = " "
new_sentence = sentence.join([ "Name",'Shahbaz', 'Alam'])
print(new_sentence)

Name Shahbaz Alam

In [339]:
sentence = " ".join(["Name", "Arbaz","Alam"])
print(sentence)

IndentationError: unexpected indent (73128938.py, line 2)

### List Unpacked

In [340]:
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [341]:
a,b,c, *value = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(value)

1
2
3
[4, 5, 6, 7, 8, 9]

In [343]:
a,b,c, *value,d,f = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(value)
print(d)
print(f)

1
2
3
[4, 5, 6, 7]
8
9

# None

In [344]:
a = None
print(a)

None

In [346]:
b = null
print(b)

NameError: name 'null' is not defined

# Dictionary    => unordered key value pair

In [ ]:
Python has a set of built-in methods that you can use on dictionaries.

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [347]:
dicts = {
       #'a':2
       # 'a' => key
       # 2 => value
       # 'a':2 => key value pair
    'a':2,
    'b':3,
    'c':True
}
print(dicts)

{'a': 2, 'b': 3, 'c': True}

In [351]:
dicts = {
    'a':[12,13,14],
    'b':3,
    'c':True
}
print(dicts['a'])

[12, 13, 14]

In [350]:
dicts = {
    'a':2,
    'b':3,
    'c':True
}
print(dicts['c'])

True

In [359]:
my_list = [
    {
    'a':[12,13,14],
    'b':3,
    'c':True
    },
    {
    'x':[3,4,5],
    'y':3,
    'z':True
    }
]
print(my_list[0]['a'][2])
print(my_list[1]['x'][1])
print(my_list[0]['c'])

14
4
True

In [366]:
my_list ={
    6:[12,13,14],
    True:3,
    'a':True
    }
print((my_list[6]))
print((my_list[True]))
print((my_list['a']))

[12, 13, 14]
3
True

In [368]:
my_list ={
    6:[12,13,14],
    True:3,
    [100]:True
    }
print(my_list[[100]])  ## Error bcz [100] is list and list is muttable

TypeError: unhashable type: 'list'

In [369]:
my_list ={
    6:[12,13,14],
    True:3,
    '100':True
    }
print(my_list['100'])

True

In [371]:
my_list ={
    '123':[12,13,14],
    '123':'hello', # key is unique so last '123' key value is 'hello' override [12,13,14] 
    }
print(my_list['123'])

hello

In [372]:
my_list ={
    '123':[12,13,14],
    '123':'hello', # key is unique so last '123' key value is 'hello' override "Shahbaz"
    '123':"Shahbaz"
    }
print(my_list['123'])

Shahbaz

### Key is not present in Dictionary

In [375]:
data = {
    'Name':'Shahbaz',
    'sex':'Male'
}
print(data['age'])

KeyError: 'age'

### Avoid to give error to user

In [378]:
data = {
    'Name':'Shahbaz',
    'sex':'Male'
}
print(data.get('age'))

None

In [379]:
# Default value key is not present
data = {
    'Name':'Shahbaz',
    'sex':'Male'
}
print(data.get('age',21))

21

## Fun create dict

In [383]:
user2 = dict(name ="Shahbaz")
print(user2)

{'name': 'Shahbaz'}

In [384]:
user2 = dict(name ="Shahbaz")
print(user2['name'])

Shahbaz

### pop

In [396]:
my_list ={
    'a':[12,13,14],
    'b':3,
    'c':True
    }
        
print(my_list.pop('b'))
print(my_list.popitem())
print(my_list)

3
('c', True)
{'a': [12, 13, 14]}

### update

In [398]:
data = {
    'Name':'Shahbaz',
    'sex':'Male',
    'age':21
}
data.update({'age': 25})
print(data)

{'Name': 'Shahbaz', 'sex': 'Male', 'age': 25}

In [399]:
# if we want to update but key is not found then make a new entery
data = {
    'Name':'Shahbaz',
    'sex':'Male',
    'age':21
}
data.update({'ages': 40})
print(data)

{'Name': 'Shahbaz', 'sex': 'Male', 'age': 21, 'ages': 40}

### Tuple Immutable

In [400]:
my_tup = (1,2,3,4,5)
print(my_tup)

(1, 2, 3, 4, 5)

In [401]:
my_tup = (1,2,3,4,5)
print(my_tup[2])

3

In [402]:
my_tup = (1,2,3,4,5)
my_tup[1] = 20
print(my_tup)

TypeError: 'tuple' object does not support item assignment

### Tuple with dictionaary

In [404]:
my_list ={
    (1,2):[12,13,14],
    'b':3,
    'c':True
    }
print(my_list[(1,2)]) # here we use tuple in dict bcz tuple is immutable but not with list

[12, 13, 14]

In [405]:
my_tup = (1,2,3,4,5)
print(my_tup[0:3]) # print range 0 to 3 last is exclude

(1, 2, 3)

In [406]:
my_tup = (1,2,3,4,5)
print(my_tup[1:2])

(2,)

### Why , in end of 2

In [ ]:
If you were to remove the comma and write print(my_tup[1:2]) without the comma,
it would still work as expected and produce (2) (without the comma), but it
would be treated as an integer inside parentheses, not a tuple.

In [409]:
my_tup = (34,20,45,74,59)
x = my_tup[0]
y = my_tup[1]
print(my_tup[0])
print(my_tup[3])

34
74

In [414]:
x,y,z,*other = (34,20,45,74,59,100,495)
print(x)
print(y)
print(z)
print(other)

34
20
45
[74, 59, 100, 495]

In [412]:
x,y,z,*other,d = (34,20,45,74,59,100,495)
print(x)
print(y)
print(z)
print(other)
print(d)

34
20
45
[74, 59, 100]
495

In [ ]:
x, y, z, *other, d = (34, 20, 45, 74, 59, 100, 495)
Here's how the assignment works:

x, y, and z are assigned the values at the respective positions in the tuple:

x gets 34
y gets 20
z gets 45

*other is a special syntax called "extended unpacking" using the asterisk *.
It collects all the values after z into a list called other. In this case,
it collects 74, 59, and 100, and assigns them to other as a list: [74, 59, 100].

Finally, d is assigned the last value in the tuple, which is 495.

So, d takes the value 495 because it corresponds to the last element of the original tuple.

To summarize:

x, y, and z are assigned the first three values in the tuple.
other is assigned a list containing the remaining values after z.
d is assigned the last value in the tuple.
This behavior is consistent with how tuple unpacking works in Python, where you can use 
the * operator to collect multiple values into a list.

## Tuple method

In [ ]:
Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [426]:
# count method return number of element occure in tuple
x = (34,20,45,74,34,59,100,495)
print(x.count(34))

2

In [428]:
#index method return index of search element 
print(x.index(74))

3

In [429]:
x = (34,20,45,74,34,59,100,495)
print(x.index(34)) # it return first element index if found in multiple element in tuple

0

# Set

Set Items :- Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered :- Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable :- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [430]:
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [431]:
my_set = {1,2,3}
print(my_set[0]) # can't access by index

TypeError: 'set' object is not subscriptable

In [434]:
my_set = {1,2,3}
my_set.add(10)
my_set.add(2) # can't add duplicate item in set

print(my_set)

{10, 1, 2, 3}

### List with Set

In [435]:
my_list = [1,2,3,4,4,4,4,5,7,7,7,9]
x = set(my_list) # here set remove all duplicate value from list and take a set
print(x)

{1, 2, 3, 4, 5, 7, 9}

In [443]:
new_list = list(my_set) # here we convert set to list
print(new_list)

[10, 1, 2, 3]

In [436]:
print(2 in my_set)

True

In [442]:
new_set ={1,2,3,3,3,3,}
print(len(new_set)) # it return only unique value count

3

In [445]:
old_set = {1,2,3,4,5,5}
new_set = old_set.copy()
print(new_set)

{1, 2, 3, 4, 5}

In [446]:
old_set = {1,2,3,4,5,5}
new_set = old_set.clear()
print(new_set)
print(old_set)

None
set()

## Set Method

In [ ]:
Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

In [456]:
#difference()
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9}
print(my_set.difference(your_set))
print(my_set) # my_set is not modified

{1, 2, 3}
{1, 2, 3, 4, 5}

In [455]:
#difference_update()
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9}
my_set.difference_update(your_set)#difference_update =>it remove my_set element present in your_set
print(my_set)

{1, 2, 3}

In [469]:
#union
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9}
print(my_set.union(your_set))
print(my_set |(your_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [470]:
#intersection
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9}
print(my_set.intersection(your_set))
print(my_set & (your_set))

{4, 5}
{4, 5}

In [460]:
#discard
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [462]:
#issubset
my_set = {4,5}
your_set = {4,5,6,7,8,9}
print(my_set.issubset(your_set))

True

In [464]:
#issuperset
your_set = {4,5,6,7,8,9}
my_set = {4,5}
print(your_set.issuperset(my_set))
#The issuperset() method returns True if all items in the specified set exists 
#in the original set, otherwise it returns False.

True

In [468]:
#isdisjoint
#Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

# Here Data Type is completed

## If else

In [476]:
a = int(input("Enter the value of A "))
b = int(input("Enter the value of B "))

if a>b:
    print("A is greater")
else:
    print("B is greater")

Enter the value of A 34
Enter the value of B 1
A is greater

## elif

In [484]:
a = int(input("Enter the value of A greater than 1 : "))


if a>1 and a<50:
    print("Range of A is 1 To 49")
elif a==50:
    print("A is 50")
else:
    print("Range of A is 51 To 100")

Enter the value of A greater than 1 : 98
Range of A is 51 To 100

### Ternary Operator

In [486]:
#Syntax: [on_true] if [expression] else [on_false]
a = 10
b = 20
val = a if a<b else b
print(val)

20

### Shorrt Circuiting

In [488]:
#and 
is_frnd = True
is_admin = True
if is_frnd and is_admin:
    print("Best frnd")

Best frnd

In [492]:
#or 
is_frnd = True
is_admin = False
if is_frnd or is_admin:
    print("Best frnd")

Best frnd

### == vs is

In [ ]:
is checks if two things are the exact same object in computer memory. 
It's like asking if two people are literally the same person.

== checks if two things have the same content or value.
It's like comparing two books to see if they have the 
same story inside, even if they are different physical books.

Example:

is would be like checking if two names point to the exact same person.
== would be like checking if two names refer to people with the same 
name, even if they are different individuals.
So, when you want to see if things are the same object in memory,
use is. When you want to see if things have the same value or content, use ==.

In [495]:
print(True == 1)
print('1' == 1)
print([] == [])
print(10 == 10.0)
print([1,2,3] ==[1,2,3])

True
False
True
True
True

In [497]:
print(True is 1)
print('1' is 1)
print(1 is 1)
print([] is [])
print(10 is 10.0)
print([1,2,3] is [1,2,3])

False
False
True
False
False
False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/8l/d7tzn3zn5yxdpkvh0w57hqxw0000gn/T/ipykernel_55445/1820614597.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(True is 1)
/var/folders/8l/d7tzn3zn5yxdpkvh0w57hqxw0000gn/T/ipykernel_55445/1820614597.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is 1)
/var/folders/8l/d7tzn3zn5yxdpkvh0w57hqxw0000gn/T/ipykernel_55445/1820614597.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1)
/var/folders/8l/d7tzn3zn5yxdpkvh0w57hqxw0000gn/T/ipykernel_55445/1820614597.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

In [498]:
x = [1, 2, 3]
y = x  # Both x and y point to the same list object in memory
z = [1, 2, 3]  # z is a different list object with the same content

print(x is y)  # True
print(x is z)  # False

True
False

In [499]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)  # True, because both lists have the same content

True

In [504]:
# set
for i in {1,2,3,4}:
    print(i)

1
2
3
4

In [505]:
#list
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [508]:
#dict
user = {
    'Name':"Shahbaz",
    'Age': 21,
    'Married':"Single"
}
for i in user.items():
    print(i)

('Name', 'Shahbaz')
('Age', 21)
('Married', 'Single')

In [511]:
#dict
user = {
    'Name':"Shahbaz",
    'Age': 21,
    'Married':"Single"
}
for i in user.keys():
    print(i)

Name
Age
Married

In [513]:
#dict
user = {
    'Name':"Shahbaz",
    'Age': 21,
    'Married':"Single"
}
for i in user.values():
    print(i)

Shahbaz
21
Single

In [518]:
#dict
user = {
    'Name':"Shahbaz",
    'Age': 21,
    'Married':"Single"
}
for i in user.items():
    key,val = i
    print(key,val)

Name Shahbaz
Age 21
Married Single

In [514]:
#dict
user = {
    'Name':"Shahbaz",
    'Age': 21,
    'Married':"Single"
}
for key,val in user.items():
    print(key,val)

Name Shahbaz
Age 21
Married Single

In [519]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in my_list:
    sum += i;
print(sum)

55

# Range

In [522]:
print(range(100))

range(0, 100)

In [523]:
print(range(0,100))

range(0, 100)

In [524]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [525]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [526]:
for i in range(0,10,2): 
    print(i)

0
2
4
6
8

In [529]:
for i in range(2):
    print(list(range(5)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [ ]:
The difference you're seeing between print(range(100)) and the for loop is due to how Python
handles iterators, specifically the range function.

print(range(100)):

When you use print(range(100)), it doesn't actually print all the numbers from 0 to 99.
Instead, it prints a representation of the range object itself, which is a special kind
of iterable in Python. The range object represents a sequence of numbers, but it doesn't
generate or store all those numbers in memory at once. It generates them on the fly as 
you iterate through it.

So, print(range(100)) shows you that it's a range starting from 0 and ending at 99, but
it doesn't list all the numbers because that would be memory-intensive.

for loop with list(range(5)):

In the for loop, when you convert range(5) to a list using list(range(5)), you are
explicitly asking Python to generate all the numbers from 0 to 4 and create a list 
containing those numbers. It generates and prints the entire list [0, 1, 2, 3, 4] 
because you asked for it.

In summary, the difference is in how the range object is represented and processed.
When you use print(range(100)), it doesn't generate all the numbers at once for 
efficiency reasons, but in the for loop, you explicitly convert it to a list, which
generates and prints all the numbers in that range.

### enumerator

In [534]:
for index,value in enumerate(range(20,25)):
    print(index,value)

0 20
1 21
2 22
3 23
4 24

In [541]:
for index,value in enumerate(range(40,100)):
    if(value ==50):
        print('index is',index,'value is',value)

index is 10 value is 50

In [543]:
while False:
    print('s')

In [564]:
data = ['a','b','c','d','b','a','a','b']
dupt = []
for i in data:
    if data.count(i)>1:
        if i not in dupt:
            dupt.append(i)
print(dupt)

['a', 'b']

# Function

In [568]:
def say_hello():
    print("Shahbaz Welcome")

In [569]:
def say_hello():
    print("Shahbaz Welcome")
say_hello()

Shahbaz Welcome

In [570]:
#parameterized and argumented function
def say_hello(name, age): #parameter
    print(f'Hi {name} your age is {age}')
    
say_hello("Shahbaz",21)

Hi Shahbaz your age is 21

In [571]:
#parameterized and argumented function
def say_hello(name, age): #parameter
    print(f'Hi {name} your age is {age}')
    
say_hello(name = "Shahbaz",age = 23)

Hi Shahbaz your age is 23

In [572]:
#positional argumented function
def say_hello(name, age): #parameter
    print(f'Hi {name} your age is {age}')

say_hello(21,"Shahbaz")

Hi 21 your age is Shahbaz

In [575]:
# Default argumented function
def say_hello(name="Yami", age = 29): #parameter
    print(f'Hi {name} your age is {age}')
    
say_hello()

Hi Yami your age is 29

In [576]:
# Default argumented function
def say_hello(name="Yami", age = 29): #parameter
    print(f'Hi {name} your age is {age}')
    
say_hello('Arbaz')

Hi Arbaz your age is 29

In [579]:
# Default argumented function
def say_hello(name="Yami", age = '29'): #parameter
    print(f'Hi {name} your age is {age}')
    
say_hello(29)

Hi 29 your age is 29

In [583]:
def sum(n1,n2):
     n1+n2
sum(2,3)

In [584]:
def sum(n1,n2):
    print( n1+n2)
sum(2,3)

5

In [586]:
def sum(n1,n2):
    return  n1+n2
sum(2,3)

5

In [588]:
def sum(n1,n2):
     return n1+n2
print(sum(2,3))

5

In [589]:
def sum(n1,n2):
    return  n1+n2

total = sum(2,3)
print(sum(10,total))

15

### Docstring

In [596]:
def test(a):
    '''
     This function test how car engine works 
    '''
    print(a)

    
    # These both below line gives what this functio works
help(test)
print(test.__doc__)

Help on function test in module __main__:

test(a)
    This function test how car engine works


     This function test how car engine works

## Walrus Operator  { n := }

In [599]:
# here not use Walrus Operator
data = 'heloooooooooooo'
if len(data) > 10:
    print(f"Your string length is {(len(data))}")

Your string length is 15

In [600]:
# here use Walrus Operator
data = 'heloooooooooooo'
if (n:=len(data)) > 10:
    print(f"Your string length is {n}")

Your string length is 15

In [601]:
print(5)
print(int(5))

5
5

In [603]:
print("hello"[0])

h

In [604]:
original_string = "  This is a string with whitespace   "
stripped_string = original_string.strip()

print(stripped_string)  # Outputs: "This is a string with whitespace"

This is a string with whitespace

In [609]:
data = 'shah alam'
newstr =  data.replace('alam','baz')
print(newstr)

shah baz

In [ ]:
x = ("shahbaz","Rajat")
y = list(x)
y[0] = "mohit"
x = tuple(y)